title: Digitallik
description: Crypto blog, crypto products, and the DGTK ecosystem.
url: ""
baseurl: ""

permalink: /blog/:year/:month/:day/:title/

markdown: kramdown

collections:
  products:
    output: true
    permalink: /products/:name/

defaults:
  - scope:
      path: ""
    values:
      layout: default
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
  - scope:
      path: ""
      type: "products"
    values:
      layout: product

x_handle: "DigitallikHQ"
x_url: "https://x.com/DigitallikHQ"
