<header class="nav">
  <div class="container nav-inner">
    <a class="brand" href="{{ site.baseurl }}/">
      <span class="logoMark" aria-hidden="true"></span>
      <span>Digitallik</span>
    </a>

    <nav class="nav-links">
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/blog/">Blog</a>
      <a href="{{ site.baseurl }}/products/">Crypto Products</a>
      <a href="{{ site.baseurl }}/dgtk/">DGTK</a>
      <a href="{{ site.baseurl }}/search/">Search</a>
    </nav>

    <a class="btn primary" href="{{ site.x_url }}" target="_blank" rel="noopener">Follow @{{ site.x_handle }}</a>
  </div>
</header>
